*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-image: url('https://images.unsplash.com/photo-1618336753974-aae8e04506aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#searchbox{
    width: 30%;
    margin: auto;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    margin-top: 10%;
    /* border: 1px solid black; */
    margin-bottom: 0px;
}

input,button{
    font-size: 18px;
    padding: 10px;
    color: white;
    border:none
    border-radius: 7px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
input{
 width: 100%;
}
button{
    background: rgb(20, 56, 20);
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    /* opacity: 0.4; */
    border-radius: 7px;

}
button:hover{
    cursor: pointer;
}

#results{
    width: 30%;
    margin: auto;
    border: 1px solid black;
    margin-top: 0px;
    border-top: none;
    border-radius: 7px;
    box-sizing: border-box;
    padding: 10px;

}
p{
    line-height: 30px;
    font-size: 18px;
    color: white;
}

